*
{
  /* margin: 10px;
  padding: 10px;
  box-sizing: border-box; */
}
body{
  margin: 0;
  /* font-family: "Source Sans Pro",sans-serif; */
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  font-style:
}

h1
{ font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  color: white;
  margin:
}
h1 strong
{
  color: #026fff;
}
.header{
  background-color: #000;
  color: white;
}
  .header a
  {
    color: white;
    text-decoration: none;
  }

.hero
{
  height: 300px;
  background-image: url("../imagenes/mrtn-hero.png");
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position: right;
}

.portfolio
{
  background: #fafafa;
}
  .project{
    /* border: 1px solid gray;*/
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
  }
    .project-details
    {

    }

    .project-imageContainer
    {
      width: 500px;
    }
